$bg: #ffffff;
body {
  background: rgba($color: #0e0e0e, $alpha: 1.0);
  background-image: url("../asset/background.jpg");
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.header {
  color: #eeeeee;
  font-family: "Oswald";
  background: rgba($color: #0e0e0e, $alpha: 0.3);
  display: flex;
  align-items: center;
  top: 0;
  height: 75px;
  padding: 20px 10px;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  z-index: 20;

  .nav {
    display: flex;
    align-items: center;

    &__menu {
      display: flex;
      justify-content: space-around;
    }

    li {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.portfolio {
  .splide {
    &__slide {
      text-align: center;

      & img {
        width: 100%;
        height: auto;
        max-height: 100vh;
        object-fit: cover;
      }
    }
  }
}
